/* ********** Custom Properties ********** */
@font-face {
    font-family: Libre-Franklin;
    src: url(assets\fonts\LibreFranklin-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: Libre-Franklin;
    src: url(assets\fonts\LibreFranklin-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Libre-Franklin;
    src: url(assets\fonts\LibreFranklin-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}

:root {
    --primary-yellow: #FFCC00;
    --primary-black: #231900;
    --second-white: #FFFFFF;
    --font: Libre-Franklin, sans-serif;
}

/* **************** Reset **************** */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    font-size: 16px;
    overflow-x: hidden;
    color: var(--second-white);
}

img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

p a {
    display: inline;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    margin: 0;
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}