/* ********** Custom Properties ********** */
@font-face {
    font-family: Libre-Franklin;
    src: url(assets\fonts\LibreFranklin-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: Libre-Franklin;
    src: url(assets\fonts\LibreFranklin-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Libre-Franklin;
    src: url(assets\fonts\LibreFranklin-Bold.ttf);
    font-weight: 700;
    font-style: bold;
}