/* ************** Components ************* */

.home-menu {}

/*? ********** Buscador ********** ¿*/
.search {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 8px 8px;
    margin: 0 1rem;
    background-color: var(--first-color);
}

.search__input {
    flex: 1;
    border: 0;
    outline: 0;
}

.search .icons {}



/*? ********** Categorías ********** ¿*/
.categories__container {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    width: 3.5em;
    height: 3.5em;
    padding: 16px;
    border-radius: 50%;
    background-color: var(--first-color);
}

.category .icons {
    width: inherit;
    height: inherit;
}

.category__type {
    text-align: center;
    width: inherit;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category__type--active {
    font-weight: var(--font-bold);
}


/* ************** Utilities ************** */

/* ************* Site Styles ************* */

.card__add-cart-btn {
    font-size: 1.5rem;
}

.home-menu__title--mv {
    color: var(--second-color);
    text-align: left;
}

.home-menu__title--dk {
    display: none;
}

.home-menu__description .section__paragraph {
    display: none;
}

.home-menu,
.categories {
    padding: 0.5rem 1rem;
}

/* ************ Media Queries ************ */

@media screen and (min-width: 1024px) {

    .cards {
        margin: 2rem 0 1rem 0;
        grid-template-columns: repeat(3, 1fr);
    }

    .home-menu {
        background-image: linear-gradient(var(--black-alpha-color), var(--black-alpha-color)), url(/assets/images/background-image.jpg);
        /* background-size: contain; */
        background-position: left center;
        height: 50vh;
    }

    .home-menu__title--dk {
        display: block;
    }

    .home-menu__title--mv {
        display: none;
    }

    .home-menu__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        height: 100%;
    }

    .home-menu__description {
        font-style: italic;
    }

    .home-menu__description .section__paragraph {
        display: block;
        line-height: 1.8;
        font-style: italic;
        font-weight: var(--font-light);
    }

    /*? ********** Menu de Navegación ********** ¿*/
    .navigation-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .categories__container {
        overflow-x: hidden;
        justify-content: space-evenly;
    }

    .category {
        width: unset;
        height: unset;
        background-color: unset;
    }

    .category .icons {
        display: none;
    }

    .category__type {
        text-align: center;
        overflow: visible;
        padding-bottom: 0px;
    }

    .search__input,
    .categories .section__title {
        display: none;
    }
}