.home-menu {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: linear-gradient(var(--black-alpha-color), var(--black-alpha-color)), url(/assets/images/background-image-3.jpg);
}

.home-menu__title {
    padding-bottom: calc(var(--header-height) + 1rem);
    text-align: center;
    color: var(--third-color);
}

.home-menu {
    display: none;
}


.search {
    display: flex;
}

.input-search {
    border: 0;
    outline: 0;
}

.categories {
    display: flex;
}

@media screen and (min-width: 1024px) {

    .home-menu {
        background-image: linear-gradient(var(--black-alpha-color), var(--black-alpha-color)), url(/assets/images/background-image-4.jpg);
    }
}